
<div class="row">
  <div class="col-8">
    <ul class="posts">
      <% if @posts.length < 1 %>
        <h4>You have no posts, Click ' New Post' in the menu to create your first post.</h4>
      <% else %>
      <h2>My Posts</h2>
        <% @posts.each do |each_post|%>
        <li class="border">
          <p> 
            <span class="bold"><%= each_post.post_name %></span>
            <span class="float-right">
                <a href="/posts/<%= each_post[:id] %>/edit"><button type="submit" class="btn btn-outline-info btn-sm current_btn">Edit Post</button></a>
            </span>
          </p>
          <p><%= each_post.post_info %> </p>  
        </li>
        <% end %>

      <% end %>
    </ul>
  </div>
</div>
