
<div id='bg' style="background-color: whitesmoke">
<img src='https://i.pinimg.com/originals/a9/59/6c/a9596c4a4e9fd2931da344fdf6300d95.jpg' width = '400px' style = "margin-left: 500px">
</div>
<div id= 'footer'>
  <nav class="navbar navbar bg-light">
    <p class="navbar-brand">
      <a href="#" class="fa fa-facebook"></a>
      <a href="#" class="fa fa-twitter"></a>
      <a href="#" class="fa fa-instagram"></a>
    </p>
    <div class="copyright">
      &copy;2018 Rumblr Inc.
    </div>
  </nav>
</div>
